:root {
  --md-source: #057CFC;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #001a40;
  --md-ref-palette-primary20: #002f67;
  --md-ref-palette-primary25: #00397c;
  --md-ref-palette-primary30: #004491;
  --md-ref-palette-primary35: #0050a7;
  --md-ref-palette-primary40: #005bbe;
  --md-ref-palette-primary50: #0073ec;
  --md-ref-palette-primary60: #478fff;
  --md-ref-palette-primary70: #7eabff;
  --md-ref-palette-primary80: #acc7ff;
  --md-ref-palette-primary90: #d7e2ff;
  --md-ref-palette-primary95: #edf0ff;
  --md-ref-palette-primary98: #f9f9ff;
  --md-ref-palette-primary99: #fefbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #341100;
  --md-ref-palette-secondary20: #552000;
  --md-ref-palette-secondary25: #672900;
  --md-ref-palette-secondary30: #793100;
  --md-ref-palette-secondary35: #8b3a00;
  --md-ref-palette-secondary40: #9e4200;
  --md-ref-palette-secondary50: #c65500;
  --md-ref-palette-secondary60: #ee6806;
  --md-ref-palette-secondary70: #ff8d4d;
  --md-ref-palette-secondary80: #ffb691;
  --md-ref-palette-secondary90: #ffdbcb;
  --md-ref-palette-secondary95: #ffede6;
  --md-ref-palette-secondary98: #fff8f6;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #29132e;
  --md-ref-palette-tertiary20: #3f2844;
  --md-ref-palette-tertiary25: #4b334f;
  --md-ref-palette-tertiary30: #573e5b;
  --md-ref-palette-tertiary35: #644967;
  --md-ref-palette-tertiary40: #705574;
  --md-ref-palette-tertiary50: #8a6e8e;
  --md-ref-palette-tertiary60: #a587a8;
  --md-ref-palette-tertiary70: #c1a1c3;
  --md-ref-palette-tertiary80: #ddbcdf;
  --md-ref-palette-tertiary90: #fbd7fc;
  --md-ref-palette-tertiary95: #ffebfd;
  --md-ref-palette-tertiary98: #fff7fa;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #001f25;
  --md-ref-palette-neutral20: #00363f;
  --md-ref-palette-neutral25: #00424d;
  --md-ref-palette-neutral30: #004e5b;
  --md-ref-palette-neutral35: #005b69;
  --md-ref-palette-neutral40: #006878;
  --md-ref-palette-neutral50: #008396;
  --md-ref-palette-neutral60: #009fb6;
  --md-ref-palette-neutral70: #29bbd5;
  --md-ref-palette-neutral80: #53d7f1;
  --md-ref-palette-neutral90: #a6eeff;
  --md-ref-palette-neutral95: #d6f6ff;
  --md-ref-palette-neutral98: #effbff;
  --md-ref-palette-neutral99: #f8fdff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #191c22;
  --md-ref-palette-neutral-variant20: #2d3038;
  --md-ref-palette-neutral-variant25: #383b43;
  --md-ref-palette-neutral-variant30: #44474e;
  --md-ref-palette-neutral-variant35: #50525a;
  --md-ref-palette-neutral-variant40: #5c5e66;
  --md-ref-palette-neutral-variant50: #74777f;
  --md-ref-palette-neutral-variant60: #8e9099;
  --md-ref-palette-neutral-variant70: #a9abb4;
  --md-ref-palette-neutral-variant80: #c4c6d0;
  --md-ref-palette-neutral-variant90: #e0e2ec;
  --md-ref-palette-neutral-variant95: #eff0fa;
  --md-ref-palette-neutral-variant98: #f9f9ff;
  --md-ref-palette-neutral-variant99: #fefbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #005bbe;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #d7e2ff;
  --md-sys-color-on-primary-container-light: #001a40;
  --md-sys-color-secondary-light: #9e4200;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #ffdbcb;
  --md-sys-color-on-secondary-container-light: #341100;
  --md-sys-color-tertiary-light: #705574;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #fbd7fc;
  --md-sys-color-on-tertiary-container-light: #29132e;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #f8fdff;
  --md-sys-color-on-background-light: #001f25;
  --md-sys-color-surface-light: #f8fdff;
  --md-sys-color-on-surface-light: #001f25;
  --md-sys-color-surface-variant-light: #e0e2ec;
  --md-sys-color-on-surface-variant-light: #44474e;
  --md-sys-color-outline-light: #74777f;
  --md-sys-color-inverse-on-surface-light: #d6f6ff;
  --md-sys-color-inverse-surface-light: #00363f;
  --md-sys-color-inverse-primary-light: #acc7ff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #005bbe;
  --md-sys-color-outline-variant-light: #c4c6d0;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #acc7ff;
  --md-sys-color-on-primary-dark: #002f67;
  --md-sys-color-primary-container-dark: #004491;
  --md-sys-color-on-primary-container-dark: #d7e2ff;
  --md-sys-color-secondary-dark: #ffb691;
  --md-sys-color-on-secondary-dark: #552000;
  --md-sys-color-secondary-container-dark: #793100;
  --md-sys-color-on-secondary-container-dark: #ffdbcb;
  --md-sys-color-tertiary-dark: #ddbcdf;
  --md-sys-color-on-tertiary-dark: #3f2844;
  --md-sys-color-tertiary-container-dark: #573e5b;
  --md-sys-color-on-tertiary-container-dark: #fbd7fc;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #001f25;
  --md-sys-color-on-background-dark: #a6eeff;
  --md-sys-color-surface-dark: #001f25;
  --md-sys-color-on-surface-dark: #a6eeff;
  --md-sys-color-surface-variant-dark: #44474e;
  --md-sys-color-on-surface-variant-dark: #c4c6d0;
  --md-sys-color-outline-dark: #8e9099;
  --md-sys-color-inverse-on-surface-dark: #001f25;
  --md-sys-color-inverse-surface-dark: #a6eeff;
  --md-sys-color-inverse-primary-dark: #005bbe;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #acc7ff;
  --md-sys-color-outline-variant-dark: #44474e;
  --md-sys-color-scrim-dark: #000000;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
