@charset "utf-8";

/* 학교 정보 스타일링 */
.school-info {
    margin-top: 20px;
}
.infoWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.infoContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    max-width: 80%;
    text-align: left;
    align-items: center;
}

.info-label {
    font-weight: bold;
    flex-basis: 40%;
}

.info-value {
    flex-basis: 55%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
}

/* 지도 스타일링 */
#map {
    width: 100%;
    height: 400px;
}

/* 상단 공통 영역 include */

.itemScan { max-width: 100%; }

.header-wrap { width: 100%;}
.header-wrap .header {background-color: #ffffff;}
.header .top { width: 1200px; margin: 0 auto; display: flex; align-items: center; justify-content: space-between; height: 64px;}
.header .top .logo h1 img { width: 100px;}
.header .top .name { font-size: 13px; line-height: 16px; color: #555555; font-weight: 600; border-right: 1px solid #cccccc; padding-right: 12px; margin-right: 12px}
.header .top .select_box { width: 88px; height: 27px; letter-spacing: -0.5px; font-size: 13px; line-height: 18px;}
.header .top .select_box .select_opt::-webkit-scrollbar {width: 6px;}
.header .top .select_box .select_opt::-webkit-scrollbar-track {background: transparent; }
.header .top .select_box .select_opt::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
.header .top .select_box .select_opt::-webkit-scrollbar-thumb:hover {background: #303030;}
.header .top .select_box.active .select_opt { max-height: 150px; border: 1px solid #ccc;}
.header .top .select_box .opt_item { padding-left: 8px; line-height: 27px;}
.header .top .select_box .opt_item:hover { font-weight: 600;}

.header .nav_bar { position: relative; border-bottom: 2px solid #eeeeee;}
.header .nav_bar ul.menu {display: flex; align-items: center; justify-content: space-between; width: 1200px;  height: 56px; margin: 0 auto; }
.header .nav_bar ul.menu li a { display: block; width: 240px; text-align: center; font-size: 16px; color: #999999; line-height: 56px; }
.header .nav_bar ul.menu li a.on,
.header .nav_bar ul.menu li a:hover {  border-bottom: 2px solid #000000; line-height: 57px; color: #000000; font-weight: bolder;}
.header .nav_bar:hover .nav_box { display: flex; }
.header .nav_bar:hover .dim { display: block;}
.header .nav_bar .dim:hover { display: none;}
.header .nav_bar .nav_box { display: none; position: absolute; top: 58px; justify-content: center; width: 100%; margin: 0 auto; padding: 8px 0; z-index: 15; background-color: #ffffff;}
.header .nav_bar .nav_box ul { width: 240px; text-align: center;}
.header .nav_bar .nav_box ul li a { display: flex; align-items: center; justify-content: center; width: 240px; height: 54px; font-size: 16px;}
.header .nav_bar .nav_box ul li a:hover { color: #24a148;}
.header .nav_bar .dim {display: none; position: fixed; top: 150px; width: 100%; height: 100%;  background-color: rgba(0, 0, 0, 0.6); z-index: 11;}


/* 텍스트 정렬 */
.left{text-align: left !important;}
.right{text-align: right !important;}
.center{text-align: center !important;}

/* layout */
body { background-color: #f6f6f6; margin: 0;}
.page_tit {
    font-size: 24px;
    margin: 0;
    padding: 0;
}
#wrap { padding-bottom: 40px;}
.container{position: relative; width: 1200px; margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;}
.containerPop{position: relative; width: 1600px; margin:0 auto;}
.container .page_tit { font-size: 24px; line-height: 35px; color: #000000; font-weight: 600; padding-top: 40px; padding-bottom: 24px;}
.navigation { position: relative; width: 283px; min-height:784px; background-color: #ffffff; padding: 12px 0; border: 1px solid #cccccc; border-radius: 4px;}
.navigation h2{ font-size: 20px; color: #000000; line-height: 29px; font-weight: 600; padding-left: 21px; margin-bottom: 8px;}
.navigation .info_txt { font-size: 12px; color: #555555; padding-left: 21px; line-height: 17px; letter-spacing: -0.8px;}
.navigation .paper_info { margin-left: 21px; margin-top: 21px;}
.navigation .paper_info > ul > li { margin-bottom: 6px;}
.navigation .paper_info h4 { width: 89px; font-size: 14px; color: #777777; line-height: 32px;}
.navigation .paper_info .auto { font-size: 14px; color: #888888; padding-left: 3px;}
.navigation .paper_info .auto.on { color: #000000;}
.navigation .paper_info .select_box { line-height: 32px;}
.navigation .paper_info label { font-size: 13px; padding-right: 10px;}
.navigation .file_box { width: 240px; margin: 0 auto; background-color: #eeeeee; border-radius: 4px;height: 190px; }
.navigation .file_box .file_list { height: 142px; overflow-y: auto;}
.navigation .file_box .file_list .empty{ font-size: 14px; line-height: 142px; color: #777777; letter-spacing: -0.5px;}
.navigation .file_box .file_list .file_upload { padding: 8px; text-align: left;}
.navigation .file_box .file_list .file_upload li { font-size: 13px; line-height: 27px; color: #000000;}
.navigation .file_box .file_list .file_upload .done span { content: ''; display: inline-block; width: 14px; height: 14px; background: url('../images/ic_close.svg') no-repeat; background-position-y: 2px; cursor: pointer;}
.navigation .file_box .file_list .file_upload .ing { color: #888888;}
.navigation .file_box .file_list .file_upload .ing span { content: ''; display: inline-block; width: 14px; height: 14px; background: url('../images/ic_upload.svg') no-repeat; background-position-y: 2px;}
.navigation .file_box .file_list .file_upload li span { margin-right: 5px;}

.navigation .nav { font-size: 14px; letter-spacing: -0.84px;}
.navigation .nav ul li a { display: inline-block; line-height: 20px;}


.navigation .nav ul li .tit{display: inline-block; font-size: 14px; font-weight: 600; color:#000000;height: 32px; line-height: 32px; width: 100%; margin-bottom: 4px; cursor: pointer;}
.navigation .nav ul li .tit:before{content:"";display:inline-block; width:16px;height:16px;background-image: url('../images/ic_drop.svg'); background-repeat: no-repeat; background-position-y: 2px;}
.navigation .nav ul li input[type="checkbox"] { display: none;}
.navigation .nav ul li input[type="checkbox"]:checked~ul { display: none;}
.navigation .nav ul li input[type="checkbox"]:checked+label:before{ content:'' ;display:inline-block;width:16px;height:16px; background-image: url('../images/ic_drop.svg'); background-repeat: no-repeat; transform: rotate(270deg); background-position-x: -2px;}
.navigation .nav .step1 > li .tit { padding-left: 12px;}
.navigation .nav .step2 > li .tit { padding-left: 32px;}
.navigation .nav .step3 > li .tit { padding-left: 52px;}
.navigation .nav ul li .sub li{ padding: 6px 0;}
.navigation .nav ul li .sub li a { padding-left: 32px; padding-right: 12px;}
.navigation .nav ul.step2 li .sub li a { padding-left: 52px;}
.navigation .nav ul.step3 li .sub li a { padding-left: 72px;}
.navigation .nav ul li .sub li.on a { color:#24a148;}
.navigation .nav ul li .sub li.on { background-color: #defbe6;}
.navigation .nav ul li .sub li:hover a { color:#24a148;}

#content { position: absolute; right: 0; top:100px; width:894px;}
#content
#content_wide { width: 1200px; margin: 0 auto;}

/* 폼 스타일링 */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.form-row {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

/* 버튼 */
.btn{display: inline-block; text-align: center; font-size: 14px; height:32px; line-height:30px; border:1px solid #000; border-radius: 4px; text-decoration: none; font-weight: 400; background-color: #ffffff;}
.btn2{display: inline-block; text-align: center; font-size: 14px; height:32px; line-height:30px; border:1px solid #000; border-radius: 4px; text-decoration: none;}
.btn3 { display: flex; align-items: center; justify-content: center; height: 32px; font-size: 14px; border:1px solid #000; border-radius: 4px; text-decoration: none;}
.btn4 { display: flex; align-items: center; justify-content: center; height: 40px; font-size: 16px; font-weight: 600; border:1px solid #000; border-radius: 4px; text-decoration: none;}
.btn5 { display: flex; align-items: center; justify-content: center; height: 24px; font-size: 13px; border:1px solid #000; border-radius: 4px; text-decoration: none;}
.btn6 { display: flex; align-items: center; justify-content: center; height: 28px; line-height: 26px; font-size: 13px; border:1px solid #000; border-radius: 4px; text-decoration: none;}
.btn7 { display: inline-block; text-align: center; height: 28px; font-size: 13px; line-height: 28px; border-radius: 4px; text-decoration: none;}
.btn8 { display: inline-block; text-align: center; height: 24px; font-size: 13px; line-height: 22px; border-radius: 4px; text-decoration: none;}
.btn_ty1{border-color:#888888; color:#888888;}
.btn_ty2{border-color:#fa4d56; color:#fa4d56;}
.btn_ty3{border-color:#000000; color:#000000;}
.btn_ty4{border-color:#24a148; color:#24a148;}
.btn_ty5{border:none; background-color: #00bf79;  color:#fff;}
.btn_ty6{border:none; background-color: #3546d7;  color:#fff;}
.btn_ty7{border:none; background-color: #eeeeee;  color:#000;}
.btn_ty8{border:none; background-color: #327ce1;  color:#fff;}
.btn_color1{border:none; background-color: #fa4d56;  color:#fff;}
.btn_color2{border:none; background-color: #24a148;  color:#fff;}
.btn_color3{border:none; background-color: #777777;  color:#fff;}
.btn_color4{border:none; background-color: #defbe6;  color:#24a148;}
.btn_color5{border:none; background-color: #fff1f1;  color:#fa4d56;}
.btn_gray{color:#777777; background-color:#eeeeee; border-radius: 4px; border: 0;}
.btn_line{border-color:#888888;  color:#777; box-sizing: border-box;}
.btn_line2{border-color:#cccccc;  color:#777; box-sizing: border-box;}
.inactivate { background-color: #cccccc; color: #aaaaaa;}

/* 버튼 정렬상태 */
.btn_right{width:100%; text-align:right;}
.btn_right a{margin-left:5px;}
.btn_left{width:100%; text-align:left;}
.btn_left a{margin-right:5px;}
.btn_left_right{width:100%; position: relative;}
.btn_left_right p{display: inline-block;}
.btn_left_right .blr_left{left:0;}
.btn_left_right .blr_left a{margin-right:5px;}
.btn_left_right .blr_right{right:0; position: absolute;}
.btn_left_right .blr_right a{margin-left:5px;}

/* 호버 */
.btn2:hover {
    background-color: #388e3c;
    color: #fff;
}

/* 페이지네이션 */
.paging{text-align:center; font-size:0; margin-bottom: 40px;}
.paging a{display:inline-block; font-size:13px; color:#aaaaaa; vertical-align:top; margin-right:20px;}
.paging a.pprev{margin-right:10px; color: #000000;}
.paging a.prev{margin-right:20px; color: #000000;}
.paging a.next{margin-left:6px; margin-right:10px; color: #000000;}
.paging a.nnext { color: #000000;}
.paging a.on{color:#000000; font-weight: bolder; text-decoration: none;}


/* 상단 로케이션 본인정보수정 , 로그아웃 버튼 */
#content .top .btn_wrap{float:right;}
#content .top .left{float:left;}
#content .top .right{float:right;}
.btn_default{display:inline-block; border:0; padding:5px 10px; border-radius:4px; margin-left:10px; font-size: 13px;}
.btn_sky_blue{color:#327ce1; border-color:#327ce1;}

#content .middle{margin-top:23px;}
#content .middle h2{float:left; color:#000; padding-left:7px; font-size:16px;}
#content .middle ol{float:right;}
#content .middle ol li{position:relative; float:left; color:#9a9a9a; padding-right:10px; margin-right:5px; font-size:12px;}
#content .middle ol li:after{content:""; display:block; clear:both; position:absolute; right:0; top:50%; margin-top:-6px; background:url("../images/arrow_location_right.png"); width:5px; height:8px;}
#content .middle ol li:last-child:after{background:none;}

/* box */
.box-area { border: 1px solid #cccccc; background-color: #ffffff; border-radius: 4px;}
.box-area h2 {font-size: 20px; color: #000000; line-height: 29px; font-weight: 600; padding-left: 21px;}

.process_box { border: 2px solid #24a148; padding: 15px 0; background: #ffffff; border-radius: 4px;}
.process_box .process { position: relative; width: 215px; text-align: center;}
.process_box .process .tit { font-size: 20px; line-height: 29px; color: #24a148; font-weight: 600;}
.process_box .process .num { margin-top: 12px; font-size: 20px; line-height: 29px; color: #000000;}
.process_box .process::after { content: ''; position: absolute; right: -20px; top: 26px; background-image: url('../images/ic_next_20.svg'); background-repeat: no-repeat; width: 20px; height: 20px;}
.process_box .process:last-child::after { display: none;}

.search_box { width: 100%; background-color: #ffffff; padding: 20px 30px; margin-bottom: 30px; border-radius: 4px; border: 1px solid #cccccc;}
.search_box .terms_list .terms { width: 295px;}
.terms h4 { font-size: 14px; line-height: 20px; padding-bottom: 6px;}
.terms span {font-size: 14px; line-height: 20px;}
.terms input[type="text"] { width: 90px; height: 32px;}
.terms input[type="radio"] { width: 16px; height: 16px;}
.terms input[type="date"] { width: 130px; padding-left: 5px; height: 32px;}
.terms .select_box { width: 90px; height: 32px; font-size: 14px;}
.terms .radio_box label { font-size: 14px; padding-right: 8px; color: #000000;}

.view_box { position: relative; min-height:790px; min-width: 500px; background-color: #ffffff; padding: 13px 0 26px; border: 1px solid #cccccc; border-radius: 4px;}
.view_box .btn_wrap {padding: 0 21px 0 21px;}
.view_box .btn_wrap .title { font-size: 20px; line-height: 29px; color: #000000; font-weight: 600; letter-spacing: -0.8px;}
.view_box .btn_wrap .sub_title { font-size: 16px; line-height: 24px; color: #000000; font-weight: 600; letter-spacing: -0.64px;}
.view_box .total { font-size: 20px; line-height: 29px; color: #888888; font-weight: 600; letter-spacing: -0.8px;}
.view_box .total.on { color: #24a148;}
.view_box .preview_box { display: flex; justify-content: start; flex-wrap: wrap; height: 690px; padding-left: 14px; overflow-y: auto;}
.view_box .preview_box .page { position: relative; width: 264px; height: 380px; padding: 16px; border-radius: 4px; background-color: #eeeeee; margin: 0 12px 20px 10px;}
.view_box .preview_box .page.checked {background-color: #defbe6;}
.view_box .preview_box .page.checked .check_box label { color: #24a148; font-weight: 600;}
.view_box .preview_box .page .drag { position: absolute; right: 16px; top: 14px; cursor: grab;}
.view_box .preview_box .page .check_box { margin-bottom: 18px;}
.view_box .preview_box .page .check_box label { font-size: 16px; color: #777777;}
.view_box .preview_box .page .check_box input[type=checkbox] + label { background-position-y: 4px;}
.view_box .crop_box { position: absolute; overflow-y: auto; width: 100%; height: 732px; bottom: 0; overflow-y: auto; padding-bottom: 20px;}
.view_box .crop_box .img_box { position: relative; width: 430px; margin: 0 auto; height: 690px; overflow: auto; border: 1px solid #777777;}
.view_box .crop_box .img_box .size_btn { position: absolute; top: 20px; right: 0;}
.view_box .crop_box .img_box .size_btn a { margin-right: 4px;}

.view_box .q_list { padding: 0 20px;}
.view_box .question_box {display: flex; justify-content: space-between; width: 648px; margin: 0 auto; border: 1px solid #cccccc; border-radius: 4px; padding: 13px;}
.view_box .question_box + .question_box { margin-top: 16px;}
.view_box .question_box .question .q_line { margin-bottom: 8px;}
.view_box .question { font-size: 14px; color: #000000; line-height: 24px; margin-right: 8px;}

.view_box .group_box { width: 546px; margin: 0 auto; border: 1px solid #cccccc; border-radius: 4px; padding: 13px;}
.view_box .search_box { width: 546px; padding: 13px; margin: 0 21px;}
.view_box .search_box .terms { width: 130px;}

.scroll_box { width: 100%; max-height: 698px; overflow-y: auto;}
.scroll_box.scroll_box2 { max-height: 730px;}
.scroll_box .s_question { width: 546px; margin: 0 auto; border: 1px solid #cccccc; border-radius: 4px; padding: 20px;}
.scroll_box .s_question.checked { border-color: #24a148; background-color: #defbe6;}
.scroll_box .s_question .question { padding: 17px; margin-right: 0; background-color: #ffffff;}
.scroll_box .s_question label { font-size: 16px; color: #000000; font-weight: 600; line-height: 18px;}
.scroll_box .s_question input:checked ~ label { color: #24a148;}
.scroll_box .s_question .similarity .tit { font-size: 14px; line-height: 20px; color: #888888; padding-right: 12px;}
.scroll_box .s_question .similarity label input[type="radio"] { display: none;}
.scroll_box .s_question .similarity label input[type="radio"] + span { display: inline-block; height:28px; line-height:26px; background-color: #dddddd; color: #555555; text-align: center; cursor: pointer; font-size: 13px; width: 52px; font-weight: 400; margin-right: -3px}
.scroll_box .s_question .similarity label input[type="radio"]:checked + span { background-color: #24a148; color: #ffffff;}
.scroll_box .s_question .similarity label span.first { border-radius: 4px 0 0 4px;}
.scroll_box .s_question .similarity label span.last { border-radius: 0 4px 4px 0;}
.scroll_box .q_empty p { text-align: center; margin-top: 136px; font-size: 16px; line-height: 24px; color: #777777; font-weight: 600;}

.test_tit_box { background-color: #dddddd; height: 48px; border-radius: 4px; padding-right: 12px;}
.test_tit_box .tit_name { display: flex; align-items: center; margin-left: 20px;}
.test_tit_box .title { display: flex; align-items: center; font-size: 20px; line-height: 28px; color: #777777; font-weight: 600; letter-spacing: -0.8px; padding-right: 8px;}
.test_tit_box .title:after { content: '|'; font-size: 16px; padding-left: 8px; font-weight: 300; color: #aaaaaa; margin-top: -3px;}
.test_tit_box .total { line-height: 28px; font-size: 20px; color: #777777;}

/* 빈출도 분석 문제*/
.view_box .scroll_box .f_question { width: 853px; margin: 0 auto; padding: 16px 20px 20px; margin-bottom: 20px;}
.view_box .scroll_box .f_question h3 { font-size: 16px; font-weight: 600; margin-bottom: 16px; color: #000000;}
.view_box .r_question { width: 1159px; margin: 0 auto; background-color: #f5f5f5; border-radius: 4px; padding: 12px 20px 20px;}
.view_box .r_question + .r_question { margin-top: 20px;}
.view_box .r_question .top { border-bottom: 1px solid #cccccc; padding-bottom: 12px; margin-bottom: 16px;}
.view_box .r_question .drag { cursor: grab;}
.view_box .r_question .question { background-color: #ffffff; margin-right: 0;}

/* tab menu*/
.tabmenu { max-width:1200px; margin: 0 auto; position:relative;}
.tabmenu ul li{ display: inline-block; width:112px; text-align:center; background :#dddddd;}
.tabmenu ul li:first-child { border-radius: 4px 0 0 0;}
.tabmenu ul li:last-child { border-radius: 0 4px 0 0;}
.tabmenu ul li + li { margin-left: -3px;}
.tabmenu ul li label.tlabel1 { border-radius: 4px 0 0;}
.tabmenu ul li label.tlabel2 { border-radius: 0 4px 0 0;}
.tabmenu .label{ display:block; width:100%; height:40px; line-height:40px; font-size: 16px; color: #777777;}
.tabmenu .tab_btn > input{display:none;}
.tabmenu input.tab:checked ~ label{ background:#24a148; font-weight: 600; color: #ffffff;}
.tabmenu input.tab:checked ~ .tab_con { display:block;}
.tabmenu .type_title { font-size: 16px; color: #000000; letter-spacing: -0.6px;}
.tabmenu .type_title span { font-weight: 600;}
.tab_con { display:none; text-align:left; position:absolute; width: 100%; left:0; top:40px; box-sizing: border-box;}

.tabmenu2 { max-width:1200px; margin: 0 auto; position:relative; height:804px;}
.tabmenu2 ul { border-bottom: 1px solid #cccccc; padding-left: 20px;}
.tabmenu2 ul li{ display: inline-block; width:160px; text-align:center; }
.tabmenu2 .label{ display:block; width:100%; height:40px; line-height:40px; font-size: 16px; color: #777777; margin-bottom: -1px;}
.tabmenu2 .tab_btn > input{display:none;}
.tabmenu2 input.tab:checked ~ label{ border-bottom:1px solid #24a148; font-weight: 600; color: #24a148;}
.tabmenu2 input.tab:checked ~ .tab_con { display:block;}

.tabmenu3 { max-width:1200px; margin: 0 auto; position:relative;}
.tabmenu3 .view_box { padding-top: 20px;}
.tabmenu3 ul { margin-left: 5px;}
.tabmenu3 ul li{ display: inline-block; width:112px; text-align:center; background :#dddddd;}
.tabmenu3 ul li { width: 180px; margin-left: 2px; border-radius: 4px 4px 0 0;}
.tabmenu3 ul li label { height: 32px;}
.tabmenu3 .label { display:block; font-size: 16px; width: 100%; line-height: 32px; border-radius: 4px 4px 0 0;}
.tabmenu3 .tab_con {top: 32px;}
.tabmenu3 .tab_btn > input{display:none;}
.tabmenu3 input.tab:checked ~ label{ background:#24a148; font-weight: 600; color: #ffffff;}
.tabmenu3 input.tab:checked ~ .tab_con { display:block;}




/* 회원관리 */
.total { font-size: 16px; color: #000000;}
table .input_default{width:42%;}
.more_info { margin-top: 40px;}
.more_info p { font-size: 14px; line-height: 24px; color: #555555;}

table .select_default{width:35%;}
.tbl_top{width:100%; border:1px solid #cccccc;}
.tbl_top tbody tr{border-bottom:1px solid #cccccc;}
.tbl_top tbody tr th{background:#f4f5f6;height:30px; vertical-align:middle}
.tbl_top tbody tr td{ padding:3px 0px 3px 6px; height:30px; vertical-align:middle}
.checkbox_type{float:left; margin-right:12px;}
.tbl_list_type1{width:100%; border:1px solid #cccccc;}
.tbl_list_type1 tbody tr{border-bottom:1px solid #cccccc;}
.tbl_list_type1 tbody tr th{background:#f4f5f6;}
.tbl_list_type1 tbody tr td{ padding:8px 0px 8px 6px;}
.tbl_list_type1 a{display:inline-block;}
.tbl_list_type1 .bdl01{border-left:1px solid #cccccc;}


/* 게시판 리스트 */
.tbl_list{width:100%;table-layout:fixed;border:1px solid #cccccc;}
.tbl_list thead th{padding:5px 8px; height: 32px; border-left:1px solid #cccccc; border-top:1px solid #cccccc; color:#000000; background:#f0f0f0; text-align:center; font-weight: 400;}
.tbl_list tbody td{padding:5px 8px; height: 32px; border-top:1px solid #cccccc; color: #000000; border-left:1px solid #cccccc;color:#333;text-align:center;line-height:18px; background-color: #ffffff;}
.tbl_list tfoot tr { border-top:1px solid #cccccc; background: #eeeeee; height: 30px;}
.tbl_list tfoot tr td { font-size: 14px; font-weight: 600; color: #000000; border-top:1px solid #cccccc; border-left: 1px solid #cccccc; padding: 0 8px;}
.tbl_list thead th.first, .tbl_list tbody td.first{border-left:0;}
.tbl_list thead th.bt{border-top:1px solid #cccccc;}
.tbl_list tbody td.first a{color:#333;}
.tbl_list tbody td.txt_left{text-align:left;}
.tbl_list tbody td.txt_left a{color:#333;}
.tbl_list tbody td.title{padding-left:20px;text-align:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.tbl_list tbody td.title a{color:#333;}
.tbl_list tbody td.title a.service_end {color:#a2a9b0;}
.tbl_list tbody td.title .service_end_message {display:block; width:340px; padding-top:4px;}
.tbl_list tbody td.title a:hover{text-decoration:underline;}
.tbl_list tbody td.title_share{text-align:left;}
.tbl_list tbody td.title_share a{display:inline-block;max-width:80%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#333;}
.tbl_list tbody td.title_share strong{vertical-align:top;}
.tbl_list tbody td .file_img{vertical-align:top;}
.tbl_list tbody td .txt_title{display:inline-block;padding-left:5px;}
.tbl_list tbody td .info{color:#666;}
.tbl_list tbody td.none{text-align:center !important;padding:50px 0;}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.tbl_list tr.main_unit td{background:#ecf9ff;}
.tbl_list tr.main_unit td strong{color:#333;font-weight:600;}
.tbl_list tr.main_unit td.title strong{display:inline-block;width:417px;}
.tbl_list tbody td span.unit{color:#333;}
.tbl_list tbody td .btn_ebook{display:inline-block;width:100px;text-align:right;}
.tbl_list thead th.group_line, .tbl_list tbody td.group_line{border-left:1px solid #000;}
.tbl_list.tbl_study thead th{padding:12px 0;}
.tbl_list.tbl_study tbody td{padding:5px;vertical-align:middle;}
.tbl_list input.tbl_in { max-width: 100%; border: 0; padding-left: 0; height: 20px; text-align: center;}
.tbl_list td.point { background-color: #fffce5}
.tbl_list td a.q-link { color: #24a148;}
.tbl_list td a.q-show1 { display: block; color: #4589ff; font-weight: 600; width: 60px; height: 40px; border-radius: 4px; background-color: #edf5ff; padding: 11px 0; margin: 0 auto 8px;}
.tbl_list td a.q-show2 { display: block; color: #24a148; font-weight: 600; width: 60px; height: 40px; border-radius: 4px; background-color: #defbe6; padding: 11px 0; margin: 0 auto 8px;}
.tbl_list td a.q-show3 { display: block; color: #ff9b4e; font-weight: 600; width: 60px; height: 40px; border-radius: 4px; background-color: #fffad1; padding: 11px 0; margin: 0 auto 8px;}

.tbl_list input.tbl_in:focus { outline: 0;}
.tbl_list input.tbl_in::placeholder { text-align: center; color: #888888; }
.main_table tbody tr td.first { text-align: left;}
.main_table tbody tr td { text-align: right;}
.main_table tfoot tr td.first { text-align: center;}
.main_table tfoot tr td { text-align: right;}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="text"].hasDatepicker { text-decoration: underline;}
input[type="text"].hasDatepicker::placeholder { text-decoration: underline;}

/* 게시판 뷰 */
.tbl_view{width:100%;table-layout:fixed;border:1px solid #cccccc;}
.tbl_view th, .tbl_view td{border-bottom:1px solid #b0b8be;border-left:1px solid #b0b8be; }
.tbl_view th{padding:16px 10px;font-weight:600;background:#F4F5F6;}
.tbl_view td{padding:15px 10px;}
.tbl_view thead th.title{padding:10px 20px;text-align:left;font-size:15px;line-height:17px;color:#333;}
.tbl_view thead th.title .tit_view01{width:580px;padding-top:5px;float:left;}
.tbl_view thead th.title .tit_view02{width:400px;padding-top:5px;float:left;} /* 2016.11.28 수정 */
.tbl_view thead th.title .tit_view03{width:410px;padding-top:5px;float:left;} /* 2016.01.11 추가 */
.tbl_view.tbl_recipe thead th.title .tit_view02{width:415px;padding-top:5px;float:left;}/* 레시피 상세 버튼 3ea */
.tbl_view thead th.title .tit_ico{display:inline-block;margin-right:20px;}
.tbl_view thead th.title .tit_btn01{display:inline-block;}
.tbl_view thead th.title .tit_btn02{display:inline-block;}
.tbl_view tbody td.notice_cont{padding:20px;vertical-align:top;line-height:1.5;} /* 2018.02.12 수정 */
.tbl_view tbody td.notice_cont.center_align{text-align:center;} /* 2018.02.12 추가 */
.tbl_view tbody td.notice_cont strong{font-weight:bold;}/*2015-08-31 추가*/
.tbl_view tbody td.video_cont{padding:30px;text-align:left;vertical-align:middle;}
.tbl_view tbody td.video_view{padding:30px;text-align:center;vertical-align:middle;}
.tbl_view tbody td.editor{padding:0;}
.tbl_view tbody td.editor td{padding:0;}
.tbl_view tbody td label.label_st01{margin-right:12px;}
.tbl_view tbody td .file_add dt, .tbl_view tbody td .file_add dd{float:left;}
.tbl_view tbody td .file_add dt{margin-right:20px;padding:5px 7px 0 0;color:#333;font-weight:600;background:url("http://image.tsherpa.co.kr/common/bar_li_f13.gif") no-repeat right 7px;}
.tbl_view tbody td .file_add dd ul{width:630px;}
.tbl_view tbody td .file_add dd ul:after{content:"";display:block;}
.tbl_view tbody td .file_add dd li{float:left;padding:0 15px 5px 0;}
.tbl_view tbody td.notice_cont_reply{padding:0 20px;background:#F4F5F6;}/* 마이셀파 문의 내역 및 답변에서 답변 부분 */
.tbl_view.top{margin-top:30px;}
.tbl_view.add_num{margin-bottom:10px;}
.tbl_view.add_num thead th{padding:5px;text-align:center;}
.tbl_view.add_num tbody td{padding:5px;font-size:12px;text-align:center;vertical-align:middle;}
.tbl_view.add_num tbody td.add{text-align:left;}
.tbl_view.add_num tbody td.add a:hover, .tbl_view.add_num tbody td.add a:focus{text-decoration:underline;}
.tbl_view tbody td p.cont_txt{margin-top:10px;}
.tbl_view .msg_text_area{padding:0;}
.tbl_view .msg_text_area .msg_case{height:300px; overflow-y: auto;  padding: 15px 0 15px 10px;}
.tbl_view .msg_text_area .insert_editer_case{height:300px; overflow-y: auto;  padding: 15px 10px;}

.radio_type{float:left; margin-right:10px;}
.radio_type_top{width:100%;}

.tbl_list_scroll{height:150px; overflow:auto;}
.tbl_list_scroll2{height:200px; overflow:auto;}
.arrow_type1 a{display:inline-block; margin:0 5px;}

.list-type1 ul li{float:left; position:relative; margin-right:13px; padding-right:13px; color:#000;}
.list-type1 ul li:after{content:""; display:block; clear:both; width:1px; height:11px; position:absolute; top:50%; margin-top:-6px; right:0; background:#b8b8b8;}
.list-type1 ul li:last-child:after{background:none; margin-right:0;}
.list-type1 ul li:hover{text-decoration:underline; font-weight:bold;}

/* 툴팁 */
.tooltip_btn { display: inline-block; margin-left: 2px;}
.tooltip_con { display: none; position: absolute; top: -64px; left: 139px; width: 236px; height: 52px; transform: translate(-50%); border-radius: 4px; background-color: #24a148; color: #ffffff; z-index: 10; padding: 6px 10px; font-size: 14px; line-height: 20px; letter-spacing: -0.7px; font-weight: 300;}
.tooltip_con.on { display: block;}
.tooltip_con.on::after { content: ""; position: absolute; top: 100%; left: 50%; margin-left: -10px; border-width: 10px; border-style: solid; border-color: #24a148 transparent transparent transparent;}


/* 팝업*/
.modal { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); display: none; z-index: 10;}
.modal_content { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding:25px 0; background-color: white; width: 900px; border-radius: 0.5rem;}
.modal_content .modal_tit { margin: 0 29px; }
.modal_content .modal_tit .title { padding-bottom: 10px;}
.modal_content .box { width: 842px; margin: 0 auto;}
.modal_content .search_box { padding: 13px;}
.modal_content .search_box .terms  {width: 130px;}
.modal_content .search_box .question { font-size: 14px; color: #000000; line-height: 24px; margin-right: 8px;}
.modal_content .scroll_box .s_question { width: 842px; margin-left: 29px; padding: 16px 20px 12px;}
.modal_content .scroll_box .system { width: 842px; margin-left: 29px;}
.close_button { float: right; width: 24px; text-align: center; cursor: pointer; }
.show_modal { display: block;}

.modal_content .title { font-size: 20px; line-height: 29px; color: #000000; font-weight: 700; letter-spacing: -0.8px; padding-bottom: 20px;}
.school_search { padding: 0 29px 20px; border-bottom: 1px solid #cccccc;}
.school_search .search_line label { font-size: 16px; padding-right: 12px;}
.school_search input { width: 590px;}
.school_list { padding: 12px 29px 0;}
.school_list .total { font-size: 16px; line-height: 24px; color: #777777; font-weight: 600;}
.school_list .tit { width: 782px; height: 40px; line-height: 40px; text-align: center; padding-left: 60px; font-size: 16px; color: #888888; margin-bottom: 4px;}
.school_list label { display: flex; align-items: center; padding: 10px 16px 10px 20px; background: #eeeeee; min-height: 72px; border-radius: 4px; margin-bottom: 4px; font-size: 16px; line-height: 26px;}
.school_list label.checked { background: #defbe6; color: #24a148;}
.school_list input { margin-right: 30px;}
.school_list input[type='radio']{min-width: 16px; min-height: 16px;}

/* 새창 팝업 */
.window_pop { background-color: #ffffff; padding: 25px 29px; }
.window_pop .title { font-size: 20px; line-height: 29px; color: #000000; font-weight: 700; letter-spacing: -0.8px; padding-bottom: 20px;}
.window_pop .list_box { margin: 0 auto; border: 1px solid #cccccc; border-radius: 4px; padding: 13px 15px; line-height: 24px; font-size: 14px;}
.window_pop .list_box p { color: #000000;}
.window_pop .list_tit { font-size: 16px; font-weight: 600; color: #777777; line-height: 24px;}

/* 로그인 */
.login_area{position: relative; width: 500px; margin:0 auto; padding-top:245px; text-align: center;}
.login_area h1 { margin: 35px auto 60px; font-size: 40px; line-height: 45px; color: #000000; font-family: 'NanumSquare', sans-serif; font-weight: 600; letter-spacing: -2.4px;}
.login_area .login_box > input { width: 500px; height: 60px; padding-left: 20px; font-size: 18px; color: #000000; font-weight: 500;}
.login_area .login_box > input::placeholder { font-size: 18px; color: #aaaaaa; line-height:50px; padding-top: 8px;}

.check_box{ position: relative;}
.check_box input[type=checkbox] { display:none; }
.check_box input[type=checkbox] + label { font-size: 14px; color: #000000; letter-spacing: -0.5px; cursor: pointer; padding-left: 23px; background-image: url('../images/checkbox.png'); background-repeat: no-repeat; background-position-y: 2px; height: 18px;}
.check_box input[type=checkbox]:checked + label { background-image: url('../images/checkbox_active.png'); background-repeat: no-repeat; }

.login_area .btn_zone { margin-top: 46px; margin-bottom: 24px;}
.login_area .btn_zone a { height: 60px; font-size: 18px;}
.login_area .login_notice { display: flex; text-align: left;}
.login_area .login_notice span { line-height: 24px; font-size: 14px; letter-spacing: -1px; }
.login_area .login_notice .notice_txt { padding-left: 3px;}


/* 슬라이드 */
.slidebox {max-width:625px;margin:0 18px 0 40px;position:relative;}
.slidebox.box2 { width: 525px;}
.slidebox .slidelist {position:relative;white-space:nowrap;font-size:0; overflow: hidden;}
.slidebox .slidelist .slideitem {position:relative; display:inline-block; margin: 0 2px; transition:all 1s;}

.slideitem label{ display:inline-block; width:55px; border-radius: 4px; height: 50px; background-color: #eeeeee; text-align: center; background-image: url('../images/check_empty.png'); background-repeat: no-repeat; background-position: center; background-position-y: 28px;}
.slideitem label:hover { background-color: #defbe6;}
.slideitem label:hover p { color: #24a148; font-weight: 600;}
.slideitem label p {font-size: 14px; line-height: 20px; letter-spacing: -0.5px; padding-top: 5px;}
.slideitem input[type=checkbox] { display: none;}
.slideitem input[type=checkbox]:checked + label { background-image: url('../images/check_active.png'); }

.slidebox .slide-control [class*="control"] label {position:absolute;z-index:4;top:50%;transform:translateY(-50%);padding:25px 10px;cursor:pointer; background-color: #ddd; background-repeat: no-repeat; background-position: center; }
.slidebox .slide-control [class*="control"] label.prev {left:-22px;background-image:url('../images/ic_previous.svg'); border-radius:4px 0 0 4px;}
.slidebox .slide-control [class*="control"] label.next {right:0px;background-image:url('../images/ic_next.svg'); border-radius:0 4px 4px 0;}

[name="slide"] {display:none;}
#slide01:checked ~ .slidelist .slideitem {left:0;}
#slide02:checked ~ .slidelist .slideitem {left:-80%;}
#slide03:checked ~ .slidelist .slideitem {left:-160%;}
#slide04:checked ~ .slidelist .slideitem {left:-240%;}

.slide-control [class*="control"] {display:none;}
#slide01:checked ~ .slide-control .control01 {display:block;}
#slide02:checked ~ .slide-control .control02 {display:block;}
#slide03:checked ~ .slide-control .control03 {display:block;}
#slide04:checked ~ .slide-control .control04 {display:block;}

/* 슬라이드 - swiper */

.swiper-container { position: relative; margin: 0 auto; overflow: hidden; padding-left: 24px;}
.swiper-container.sw01 { width:648px}
.swiper-container.sw02 { width:546px}
.swiper-wrpper { height: 50px;}
.swiper-slide { text-align: center; font-size: 18px; background: #fff; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}
.swiper-button-next, .swiper-button-prev { top: 25px!important; justify-content: flex-start !important;}
.swiper-button-next { right: -8px !important;}
.swiper-button-prev { left: 0 !important;}
.swiper-button-next:after, .swiper-button-prev:after { content: '' !important; background-repeat: no-repeat; background-position: center; width: 20px; height: 50px; background-color: #dddddd; z-index: 3;}
.swiper-button-prev:after { background-image: url('../images/ic_previous.svg'); border-radius:4px 0 0 4px;}
.swiper-button-next:after { background-image: url('../images/ic_next.svg'); border-radius:0 4px 4px 0;}


/* 등록 버튼 스타일링 */
.btn_wrap {
    text-align: center;
    margin-top: 20px;
}

.view_boxPop { position: relative; min-height:790px; min-width: 785px; background-color: #ffffff; padding: 13px 0 26px; border: 1px solid #cccccc; border-radius: 4px;}
.view_boxPop .btn_wrap {padding: 0 21px 0 21px;}
.view_boxPop .btn_wrap .title { font-size: 20px; line-height: 29px; color: #000000; font-weight: 600; letter-spacing: -0.8px;}
.view_boxPop .btn_wrap .sub_title { font-size: 16px; line-height: 24px; color: #000000; font-weight: 600; letter-spacing: -0.64px;}
.view_boxPop .total { font-size: 20px; line-height: 29px; color: #888888; font-weight: 600; letter-spacing: -0.8px;}
.view_boxPop .total.on { color: #24a148;}
.view_boxPop .preview_box { display: flex; justify-content: start; flex-wrap: wrap; height: 690px; padding-left: 14px; overflow-y: auto;}
.view_boxPop .preview_box .page { position: relative; width: 264px; height: 380px; padding: 16px; border-radius: 4px; background-color: #eeeeee; margin: 0 12px 20px 10px;}
.view_boxPop .preview_box .page.checked {background-color: #defbe6;}
.view_boxPop .preview_box .page.checked .check_box label { color: #24a148; font-weight: 600;}
.view_boxPop .preview_box .page .drag { position: absolute; right: 16px; top: 14px; cursor: grab;}
.view_boxPop .preview_box .page .check_box { margin-bottom: 18px;}
.view_boxPop .preview_box .page .check_box label { font-size: 16px; color: #777777;}
.view_boxPop .preview_box .page .check_box input[type=checkbox] + label { background-position-y: 4px;}
.view_boxPop .crop_box { position: absolute; overflow-y: auto; width: 100%; height: 732px; bottom: 0; overflow-y: auto; padding-bottom: 20px;}
.view_boxPop .crop_box .img_box { position: relative; width: 700px; margin: 0 auto; height: 690px; overflow: auto; border: 1px solid #777777;}
.view_boxPop .crop_box .img_box .size_btn { position: absolute; top: 20px; right: 0;}
.view_boxPop .crop_box .img_box .size_btn a { margin-right: 4px;}

.view_boxPop .q_list { padding: 0 20px;}
.view_boxPop .question_box {display: flex; justify-content: space-between; width: 648px; margin: 0 auto; border: 1px solid #cccccc; border-radius: 4px; padding: 13px;}
.view_boxPop .question_box + .question_box { margin-top: 16px;}
.view_boxPop .question_box .question .q_line { margin-bottom: 8px;}
.view_boxPop .question { font-size: 14px; color: #000000; line-height: 24px; margin-right: 8px;}

.view_boxPop .group_box { width: 546px; margin: 0 auto; border: 1px solid #cccccc; border-radius: 4px; padding: 13px;}
.view_boxPop .search_box { width: 546px; padding: 13px; margin: 0 21px;}
.view_boxPop .search_box .terms { width: 130px;}