<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/layout}"
      layout:fragment="content"
>
<!--< id="wrap">-->
    <!-- 상단 공통 영역 -->
    <div class="container">
        <h1 class="page_tit">2021.00.00</h1>

        <!-- 컨텐츠 영역 -->
        <div id="content_wide">
            <div class="con_case">
                <!-- 진행상태-->
                <div class="process_box justify_between mb40">
                    <div class="process">
                        <p class="tit">업로드 완료 시험지</p>
                        <p class="num">00</p>
                    </div>

                    <div class="process">
                        <p class="tit">OCR 변환 대기</p>
                        <p class="num">00</p>
                    </div>
                    <div class="process">
                        <p class="tit">유사문제 선정 대기</p>
                        <p class="num">00</p>
                    </div>
                    <div class="process">
                        <p class="tit">검수 대기</p>
                        <p class="num">00</p>
                    </div>
                    <div class="process">
                        <p class="tit">서비스 준비 완료</p>
                        <p class="num">00</p>
                    </div>
                </div>
                <!-- 검색박스 -->
                <div class="search_box">
                    <div class="justify_between">
                        <div class="terms">
                            <h4>기간</h4>
                            <p>
                                <input class="w90 underline" type="text" id="from" placeholder="0000.00.00"
                                       autocomplete="off"> ~
                                <input class="w90 underline" type="text" id="to" placeholder="0000.00.00"
                                       autocomplete="off">
                            </p>
                        </div>
                        <div class="terms">
                            <h4>학교급</h4>
                            <select class="select_box">
                                <option value="">전체</option>
                                <option value="">중등</option>
                                <option value="">고등</option>
                            </select>
                        </div>
                        <div class="terms">
                            <h4>학년</h4>
                            <select class="select_box">
                                <option value="">전체</option>
                                <option value="">1학년</option>
                                <option value="">2학년</option>
                                <option value="">3학년</option>
                            </select>
                        </div>
                        <div class="terms">
                            <h4>학기</h4>
                            <select class="select_box">
                                <option value="">전체</option>
                                <option value="">1학기</option>
                                <option value="">2학기</option>
                            </select>
                        </div>
                        <div class="terms">
                            <h4>시험종류</h4>
                            <select class="select_box">
                                <option value="">전체</option>
                                <option value="">중간고사</option>
                                <option value="">기말고사</option>
                            </select>
                        </div>
                        <div class="terms">
                            <h4>과목</h4>
                            <select class="select_box">
                                <option value="">전체</option>
                                <option value="">과목</option>
                            </select>
                        </div>
                    </div>
                    <div class="btn_wrap mt40 justify_center">
                        <a class="btn2 w180 btn_color2" href="#none">검색</a>
                    </div>
                </div>
                <!-- 검색결과 -->
                <div class="justify_between">
                    <p></p>
                    <a class="btn w120 btn_color3" href="#none">엑셀파일 다운로드</a>
                </div>
                <table class="tbl_list mt15 mb40 main_table">
                    <caption></caption>
                    <colgroup>
                        <col width="15%">
                        <col width="12%">
                        <col width="8%">
                        <col width="8%">
                        <col width="8%">
                        <col width="8%">
                        <col width="8%">
                        <col width="8%">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">

                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col" rowspan="3" class="first">지역구분</th>
                        <th scope="col" rowspan="3" class="lh20">지역별 학교수<br>(20년 기준)</th>
                        <th scope="col" colspan="7">지역 학교별 업로드 현황</th>
                        <th scope="col" colspan="4">작업현황</th>
                    </tr>
                    <tr>
                        <th scope="col" rowspan="2">2018년</th>
                        <th scope="col" rowspan="2">2018년</th>
                        <th scope="col" rowspan="2">2018년</th>
                        <th scope="col" rowspan="2">2018년</th>
                        <th scope="col" rowspan="2">2018년</th>
                        <th scope="col" colspan="2">총합</th>
                        <th scope="col" rowspan="2" class="lh20">OCR 변환<br>완료</th>
                        <th scope="col" rowspan="2" class="lh20">유사문제<br>선정 완료</th>
                        <th scope="col" rowspan="2">검수 완료</th>
                        <th scope="col" rowspan="2">완료율</th>
                    </tr>
                    <tr>
                        <th scope="col">총 건수</th>
                        <th scope="col">백분율</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="first">강원도</td>
                        <td>163</td>
                        <td>163</td>
                        <td>163</td>
                        <td>163</td>
                        <td>163</td>
                        <td>163</td>
                        <td class="point">163</td>
                        <td class="point">1%</td>
                        <td>163</td>
                        <td>163</td>
                        <td>163</td>
                        <td>00%</td>
                    </tr>
                    <tr>
                        <td class="first">경기도</td>
                        <td>640</td>
                        <td>640</td>
                        <td>640</td>
                        <td>640</td>
                        <td>640</td>
                        <td>640</td>
                        <td class="point">640</td>
                        <td class="point">1%</td>
                        <td>640</td>
                        <td>640</td>
                        <td>640</td>
                        <td>00%</td>
                    </tr>
                    <tr>
                        <td class="first">경상남도</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td class="point">226</td>
                        <td class="point">1%</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>00%</td>
                    </tr>
                    <tr>
                        <td class="first">경상북도</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td class="point">226</td>
                        <td class="point">1%</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>00%</td>
                    </tr>
                    <tr>
                        <td class="first">광주광역시</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td class="point">226</td>
                        <td class="point">1%</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>00%</td>
                    </tr>
                    <tr>
                        <td class="first">대구광역시</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td class="point">226</td>
                        <td class="point">1%</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>00%</td>
                    </tr>
                    <tr>
                        <td class="first">대전광역시</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td class="point">226</td>
                        <td class="point">1%</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>00%</td>
                    </tr>
                    <tr>
                        <td class="first">부산광역시</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td class="point">226</td>
                        <td class="point">1%</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>00%</td>
                    </tr>
                    <tr>
                        <td class="first">서울특별시</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td class="point">226</td>
                        <td class="point">1%</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>00%</td>
                    </tr>
                    <tr>
                        <td class="first">세종특별자치시</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td class="point">226</td>
                        <td class="point">1%</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>00%</td>
                    </tr>
                    <tr>
                        <td class="first">울산광역시</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td class="point">226</td>
                        <td class="point">1%</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>00%</td>
                    </tr>
                    <tr>
                        <td class="first">인천광역시</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td class="point">226</td>
                        <td class="point">1%</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>00%</td>
                    </tr>
                    <tr>
                        <td class="first">전라남도</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td class="point">226</td>
                        <td class="point">1%</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>00%</td>
                    </tr>
                    <tr>
                        <td class="first">전라북도</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td class="point">226</td>
                        <td class="point">1%</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>00%</td>
                    </tr>
                    <tr>
                        <td class="first">제주특별자치도</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td class="point">226</td>
                        <td class="point">1%</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>00%</td>
                    </tr>
                    <tr>
                        <td class="first">충청남도</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td class="point">226</td>
                        <td class="point">1%</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>00%</td>
                    </tr>
                    <tr>
                        <td class="first">충청북도</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td class="point">226</td>
                        <td class="point">1%</td>
                        <td>226</td>
                        <td>226</td>
                        <td>226</td>
                        <td>00%</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="first">총계</td>
                        <td>33,333</td>
                        <td>33,333</td>
                        <td>33,333</td>
                        <td>33,333</td>
                        <td>33,333</td>
                        <td>33,333</td>
                        <td class="point">33,333</td>
                        <td class="point">1%</td>
                        <td>33,333</td>
                        <td>33,333</td>
                        <td>33,333</td>
                        <td>33,333</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

<script>
    $(function () {
        var dateFormat = "yy.mm.dd",
            from = $("#from")
                .datepicker({
                    defaultDate: "+1d",
                    changeMonth: true,
                    numberOfMonths: 1,
                    dateFormat: 'yy.mm.dd'
                })
                .on("change", function () {
                    to.datepicker("option", "minDate", getDate(this));
                }),
            to = $("#to").datepicker({
                defaultDate: "+1d",
                changeMonth: true,
                numberOfMonths: 1,
                dateFormat: 'yy.mm.dd'
            })
                .on("change", function () {
                    from.datepicker("option", "maxDate", getDate(this));
                });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }

            return date;
        }
    });
</script>
</html>