<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/layout}"
      layout:fragment="content"
>
<head>
    <meta charset="UTF-8">
    <title>학교 정보 입력</title>
</head>
<body>
<form th:action="@{/submit}" method="post" th:object="${school}">
    <div>
        <label for="schoolCode">정보공시 학교 코드:</label>
        <input type="text" id="schoolCode" name="schoolCode" th:field="*{schoolCode}">
    </div>
    <div>
        <label for="name">학교명:</label>
        <input type="text" id="name" name="name" th:field="*{name}">
    </div>
    <div>
        <label for="cityEduOffice">시도교육청:</label>
        <input type="text" id="cityEduOffice" name="cityEduOffice" th:field="*{cityEduOffice}">
    </div>
    <div>
        <label for="districtEduOffice">지역교육청:</label>
        <input type="text" id="districtEduOffice" name="districtEduOffice" th:field="*{districtEduOffice}">
    </div>
    <div>
        <label for="establishment">설립 구분:</label>
        <input type="text" id="establishment" name="establishment" th:field="*{establishment}">
    </div>
    <div>
        <label for="dayNight">주야 구분:</label>
        <input type="text" id="dayNight" name="dayNight" th:field="*{dayNight}">
    </div>
    <div>
        <label for="address.roadAddress">도로명 주소</label>
        <input type="text" id="roadAddress" name="school.address.roadAddress" th:field="*{school.address.roadAddress}">
    </div>
    <div>
        <label for="address.roadZipCode">우편번호</label>
        <input type="text" id="roadZipCode" name="school.address.roadZipCode" th:field="*{school.address.roadZipCode}">
    </div>


    <div>
        <label for="tel">전화번호</label>
        <input type="text" id="tel" name="tel" th:field="*{tel}">
    </div>
    <div>
        <label for="url">홈페이지 주소</label>
        <input type="text" id="url" name="url" th:field="*{url}">
    </div>
    <div>
        <label for="fax">팩스번호</label>
        <input type="text" id="fax" name="fax" th:field="*{fax}">
    </div>
    <div>
        <label for="gender">남녀공학 구분</label>
        <input type="text" id="gender" name="gender" th:field="*{gender}">
    </div>
    <div>
        <button type="submit">등록</button>
    </div>
</form>
</body>
</html>
