<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div class="header-wrap">
    <div class="header">
        <div class="top">
            <div class="logo">
                <h1><img src="/images/logo.svg" alt="천재교육"/></h1>
            </div>
            <div class="btn_wrap justify_between">
                <a href="#none" class="name">김천재</a>
                <div class="box">
                    <select class="select_box">
                        <option value="">총괄관리자</option>
                        <option value="">수집담당자</option>
                        <option value="">문제운영자</option>
                        <option value="">문제검수자</option>
                    </select>
                </div>

                <a href="#none" class="btn_default btn_gray right">로그아웃</a>
            </div>
        </div>
        <div class="nav_bar">
            <ul class="menu">
                <li><a href="/paper/list">기출 시험지 관리</a></li>
                <li><a href="">OCR 변환</a></li>
                <li><a href="#none">유사 문제 관리</a></li>
                <li><a href="#none">서비스 관리</a></li>
                <li><a href="/user/adminList">시스템 관리</a></li>
            </ul>
            <div class="nav_box">
                <ul>
                    <li><a href="/paper/list">기출 시험지 관리</a></li>
                    <li><a href="/paper/registration">시험지 업로드</a></li>
                </ul>
                <ul>
                    <li><a href="/item/ocrList">OCR 변환 관리</a></li>
                </ul>
                <ul>
                    <li><a href="#none">유사 문제 관리</a></li>
                    <li><a href="#none">검수 관리</a></li>
                </ul>
                <ul>
                    <li><a href="#none">서비스 관리</a></li>
                    <li><a href="/analyze/frequencyList">빈출도 분석</a></li>
                    <li><a href="#none">보충 필요 문제</a></li>
                </ul>
                <ul>
                    <li><a href="/user/adminList">계정 관리</a></li>
                    <li><a href="#none">코드 관리</a></li>
                    <li><a href="#none">학교 정보 관리</a></li>
                    <li><a href="#none">작업 현황 / 배정 관리</a></li>
                </ul>
            </div>
            <div class="dim"></div>
        </div>
    </div>
    </div>
</header>
</html>
